<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Couch Potato</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../resources/css/main.css" th:href="@{/resources/css/main.css}"/>
</head>
<body>
	<h1 th:text="${message}">Some message</h1>
    <form th:action="@{/itemList/check}" method="post">
        <button type="submit">Check now</button>
    </form>
    <table class="item-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>State</th>
                <th>Error text</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${itemList}">
                <td th:text="${item.id}">10</td>
                <td>
                    <a th:text="${item.name}" href="https://www.google.ru" th:href="@{${item.link}}">itemName</a>
                </td>
                <td th:text="${item.status}">itemStatus</td>
                <td th:text="${item.state != null} ? ${item.state.state}: ''">itemState</td>
                <td th:text="${item.errorText}">itemErrorText</td>
            </tr>
    </table>
</body>
</html>