<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--app name for log folder name-->
    <property name="APP_NAME" value="couch_potato"/>
    <!-- Root logs dir (tomcat logs dir): -->
    <property name="LOG_DIR" value="${catalina.base}/logs/${APP_NAME}"/>

    <appender name="FILE-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.jasonfunderburker.couchpotato" level="DEBUG" additivity="false">
        <appender-ref ref="FILE-APPENDER" />
    </logger>

    <logger name="com.gargoylesoftware.htmlunit.javascript.DefaultJavaScriptErrorListener" level="OFF"/>

    <root level="ERROR">
        <appender-ref ref="FILE-APPENDER" />
    </root>

</configuration>