<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.jasonfunderburker.couchpotato.domain"/>

    </typeAliases>

    <!--
        <typeHandlers>
            &lt;!&ndash;Данный обработчик позволяет передавать/получать поля типа java.String в/из полей БД типа jdbc.DATE,jdbc.TIMESTAMP -необходимо для палавающих дат &ndash;&gt;
            <typeHandler handler="com.peterservice.openapi.utils.camel.mybatis.JdbcDateJavaStringTypeHandler"/>
        </typeHandlers>
    -->

    <mappers>
        <mapper resource="mybatis/run.xml"/>
    </mappers>
</configuration>