<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.jasonfunderburker.couchpotato.domain.TorrentStatus" alias="TorrentStatus"/>
        <typeAlias type="com.jasonfunderburker.couchpotato.domain.TorrentType" alias="TorrentType"/>
        <package name="com.jasonfunderburker.couchpotato.domain"/>
        <package name="com.jasonfunderburker.couchpotato.dao.mybatis.handler"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="TorrentStatusEnumTypeHandler" javaType="com.jasonfunderburker.couchpotato.domain.TorrentStatus"/>
        <typeHandler handler="TorrentTypeEnumTypeHandler" javaType="com.jasonfunderburker.couchpotato.domain.TorrentType"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mybatis/torrentItems.xml"/>
        <mapper resource="mybatis/accounts.xml"/>
    </mappers>
</configuration>