<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.jasonfunderburker.couchpotato.domain"/>
        <package name="com.jasonfunderburker.couchpotato.dao.mybatis.handler"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="TorrentStatusEnumTypeHandler" javaType="TorrentStatus"/>
        <typeHandler handler="TorrentTypeEnumTypeHandler" javaType="TorrentType"/>
    </typeHandlers>

    <mappers>
        <mapper resource="mybatis/torrentItems.xml"/>
    </mappers>
</configuration>