body {
    background-color: rgba(2, 255, 253, 0.10);
}
.item-table {
    margin-bottom: 3em;
    border-collapse:collapse;
    border: 0.2em solid #175c39;
}

.item-table td {
    border: 0.2em solid #175c39;
    text-align: center;
    width: 10em;
    padding: 1em; 		}

.item-table th {
    border: 0.2em solid #175c39;
    text-align: center;
    padding: 1em;
    background-color: rgba(35, 139, 87, 0.96);	     /* added a red background color to the heading cells  */
    color: white;		}			      /* added a white font color to the heading text */

.item-table tr {
    height: 1em;	}

.item-table tr:nth-child(even) {		      /* added all even rows a #eee color  */
    background-color: #cdeec8;		}

.item-table tr:nth-child(odd) {		     /* added all odd rows a #fff color  */
    background-color:#fff;		}

.box {
    margin: 0 auto;
    padding: 35px;
    background-clip: padding-box;
    text-align: left;
}

.button {
    font-size: 1em;
    background-color:#fff;
    padding: 10px;
    color: rgba(38, 38, 38, 0.91);
    border: 2px solid orange;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: orange;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: orange;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.popup2 {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup2 h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup2 .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup2 .close:hover {
    color: orange;
}
.popup2 .content {
    max-height: 30%;
    overflow: auto;
}

.popup2 .widthInput {
    width: 100%;
}

.error {
    color: red;
    font-size: 30px;
}

label
{
    width:100%;
}


