<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Couch Potato</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
	<h1 th:text="${message}">Some message</h1>
    <div align="right">
        <a href="settings.html" th:href="@{/settings}">Settings</a>
        <a href="login.html" th:href="@{/logout}">Logout</a>
    </div>
    <form class="box" th:action="@{/itemList/check}" method="post">
        <button class="button" type="submit">Check now</button>
    </form>
   <form class="box" th:action="@{/itemList/scheduleCheck}" th:object="${scheduleSettings}" method="post">
        <span th:text="'Schedule check torrents list every day at ' + (*{scheduleTime} != null ? *{scheduleTime} : '')">Schedule check torrents list every day at</span>
        <input type="time" th:field="*{scheduleTime}"/>
        <button class="button" type="submit">Save</button>
    </form>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h2>Add new item to list</h2>
            <a class="close" href="#" th:href="@{#}">x</a>
            <form action="#" th:action="@{/itemList}" th:object="${torrentItem}" method="post">
                <div>
                    <label>Torrent item link</label>
                </div>
                <div>
                    <input type="text" th:field="*{link}"/>
                </div>
                <div class="box">
                    <button class="button" type="submit" name="save">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div id="rssGeneratePopup" class="overlay">
        <div class="popup2">
            <a class="close" href="#" th:href="@{#}">x</a>
            <h2>Generated public RSS URL</h2>
            <label>WARNING!Everyone who got this link has access to rss page</label>
            <div>
                <input class="widthInput" readonly="readonly" th:value="${generatedRssUrl}" onclick="this.select();"></input>
            </div>
        </div>
    </div>
    <div>
        <label>Get Public RSS URL</label>
        <a class="button" href="#rssGeneratePopup" th:href="@{/rss/public}">Generate</a>
    </div>
    <h1 th:text="${errorMessage}" class="error">Some message</h1>
    <table class="item-table">
        <thead>
            <tr>
                <th>
                    <a class="button" href="#popup1" th:href="@{#popup1}">Add item</a>
                </th>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>State</th>
                <th>Downloaded File</th>
                <th>Error text</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${itemList}">
                <td>
                    <form action="#" th:action="@{/itemList/{id}/remove(id=${item.id})}" method="post">
                        <button type="submit" class="button">Delete item</button>
                    </form>
                </td>
                <td th:text="${item.id}">10</td>
                <td>
                    <a th:text="${item.name}" href="https://www.google.ru" th:href="@{${item.link}}">itemName</a>
                </td>
                <td th:text="${item.status}">itemStatus</td>
                <td th:text="${item.state != null} ? ${item.state.state}: ''">itemState</td>
                <td>
                    <a th:text="${item.fileName}" href="https://www.google.ru" th:href="@{/checkResults/download/{fileName}/(fileName=${item.fileName})}">filename</a>
                </td>
                <td th:text="${item.errorText}">itemErrorText</td>
            </tr>
        </tbody>
    </table>
</body>
</html>