<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Couch Potato</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/main2.css" th:href="@{/css/main2.css}" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--<a class="navbar-brand" href="#">Couch-Potato</a>-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" th:href="@{#}">Home</a>
                </li>
                <li>
                    <a href="rssPublic.html" th:href="@{/rssPublic}">RSS Public</a>
                </li>
                <li>
                    <a href="settings.html" th:href="@{/settings}">Settings</a>
                </li>
                <li>
                    <a href="login.html" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="green">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 centered">
                <h3>COUCH-POTATO</h3>
                <p th:text="${message}">Some message</p>
            </div>
        </div>
    </div>
</div>
<form class="col-lg-12" th:action="@{/itemList/checkAll}" method="post">
    <div class="col-lg-3 mt">
        <button class="btn btn-theme btn-md" type="submit">Check now</button>
    </div>
</form>
<form class="col-lg-12" th:action="@{/itemList/scheduleCheck}" th:object="${scheduleSettings}" method="post">
    <div class="row mt">
        <div class="col-lg-4">
            <p class="lead"
               th:text="'Schedule check torrents list every day at ' + (*{scheduleTime} != null ? *{scheduleTime} : '')">
                Schedule check torrents list every day at</p>
        </div>
        <div class="col-lg-1">
            <input type="time" th:field="*{scheduleTime}"/>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-theme btn-md" type="submit">Save</button>
        </div>
    </div>
</form>
<div class="col-lg-12" th:text="'Last check start at '+(${checkStartDate} ? ${#dates.format(checkStartDate, 'YYYY-MM-dd HH:mm:ss Z')})">Last check start at YYYY-MM-dd HH-mm-SS</div>
<div class="col-lg-12" th:text="'Last check end at '+(${checkEndDate} ? ${#dates.format(checkEndDate, 'YYYY-MM-dd HH:mm:ss Z')})">Last check end at YYYY-MM-dd HH-mm-SS</div>
<div id="popup1" class="overlay" hidden="hidden">
    <div class="popup">
        <h2>Add new item to list</h2>
        <a class="close" href="#" th:href="@{#}">x</a>

        <form action="#" th:action="@{/itemList}" th:object="${torrentItem}" method="post">
            <div>
                <label>Torrent item link</label>
            </div>
            <div>
                <input type="text" th:field="*{link}"/>
            </div>
            <div class="box">
                <button class="btn btn-theme btn-md" type="submit" name="save">Save</button>
            </div>
        </form>
    </div>
</div>

<h1 th:text="${errorMessage}" class="error">Some message</h1>
<table class="table .table-striped">
    <thead>
    <tr>
        <th>
            <a class="btn btn-theme btn-md" href="#popup1" th:href="@{#popup1}">Add item</a>
        </th>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>State</th>
        <th>Downloaded File</th>
        <th>Error text</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${itemList}">
        <td>
            <form action="#" th:action="@{/itemList/{id}/remove(id=${item.id})}" method="post">
                <button type="submit" class="btn btn-theme btn-md">Delete item</button>
            </form>
            <form action="#" th:action="@{/itemList/{id}/check(id=${item.id})}" method="post">
                <button type="submit" class="btn btn-theme btn-md">Check item</button>
            </form>
        </td>
        <td th:text="${item.id}">10</td>
        <td>
            <a th:text="${item.name}" href="https://www.google.ru" th:href="@{${item.link}}">itemName</a>
        </td>
        <td th:text="${item.status}">itemStatus</td>
        <td th:text="${item.state != null} ? ${item.state.state}: ''">itemState</td>
        <td>
            <a th:text="${item.fileName}" href="https://www.google.ru"
               th:href="@{/checkResults/download/{fileName}/(fileName=${item.fileName})}">filename</a>
        </td>
        <td th:text="${item.errorText}">itemErrorText</td>
    </tr>
    </tbody>
</table>
</body>
</html>