<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rss Public</title>

    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>-->
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>

    <!-- Custom styles for this template -->
    <link href="../static/css/main2.css" th:href="@{/css/main2.css}" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!--<a class="navbar-brand" href="#">Couch-Potato</a>-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="itemList.html" th:href="@{/itemList}">Home</a>
                </li>
                <li>
                    <a href="#" th:href="@{#}">RSS Public</a>
                </li>
                <li>
                    <a href="settings.html" th:href="@{/settings}">Settings</a>
                </li>
                <li>
                    <a href="login.html" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="green">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 centered">
            </div>
        </div>
    </div>
</div>
<div id="rssGeneratePopup" class="overlay" hidden="hidden">
    <div class="popup2">
        <a class="close" href="#" th:href="@{#}">x</a>

        <h2>Generated public RSS URL</h2>
        <label>WARNING!Everyone who got this link has access to rss page</label>

        <div>
            <input class="widthInput" readonly="readonly" th:value="${generatedRssUrl}"
                   onclick="this.select();"></input>
        </div>
    </div>
</div>
<div>
    <table>
        <tr>
            <td>
                <label>Public RSS URL</label>
            </td>
            <td>
                <a class="btn btn-theme btn-md" href="#rssGeneratePopup" th:href="@{/rss/public}">Generate</a>
            </td>
            <td>
                <form action="#" th:action="@{/rss/public/invalidate}" method="post">
                    <button class="btn btn-theme btn-md" type="submit">Invalidate</button>
                </form>
            </td>
        <tr>
            <td>
                <label th:text="${invalidateResult}"></label>
            </td>
        </tr>
        </tr>
    </table>
</div>


</body>
</html>